// do I need to import these seperate scss files into my base.scss file?

/* This is an example of using Sass, otherwise plain CSS works too*/
$font-primary: Poppins, sans-serif;

$primary-text: black;

$padding-right: 0 0 1em 1em;
